.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .carInfo {
    display: flex;
    align-items: center;
  }
  
  .carImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .carImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carDetails {
    margin-left: 10px;
  }
  
  .deleteButton {
    /* padding: 10px; */
  }
  
  .deleteButton button {
    /* background-color: red; */
    /* color: white; */
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .deleteButton button:hover{
    text-shadow: 0 0 0.01px black;
  }
  
  @media (max-width: 768px) {
    .item {
      flex-direction: column;
    }
  
    .carInfo {
      margin-bottom: 10px;
    }
  
    .deleteButton {
      text-align: center;
    }
  }
  .cart{
    padding: 20px;
  }
  .submit-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }
  .order-button{
    width: 100px;
    height: 40px;
  }
  .title-set{
    display: flex;
    align-items: center;
  }
  .title-set div{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
  }

  .magenta{
    background-color:magenta
  }
  .silver{
    background-color:silver
  }
  .salmon{
    background-color:salmon
  }
  .lavender{
    background-color:lavender
  }
  .orchid{
    background-color:orchid
  }
  .purple{
    background-color:purple
  }
  .yellow{
    background-color:yellow
  }
  .blue{
    background-color:blue
  }
  .fuchsia{
    background-color:fuchsia
  }
  .red{
    background-color:red
  }
  .olive{
    background-color:olive
  }
  .tan{
    background-color:tan
  }
  .gold{
    background-color:gold
  }
  .maroon{
    background-color:maroon
  }
  .sky-blue{
    background-color:skyblue
  }
  .grey{
    background-color:grey
  }
  .plum{
    background-color:plum
  }
  .lime{
    background-color:lime
  }
  .violet{
    background-color:violet
  }
  .black{
    background-color:black
  }
  .cyan{
    background-color:cyan
  }
  .orange{
    background-color:orange
  }
  .green{
    background-color:green
  }
  .azure{
    background-color:azure
  }
  .red{
    background-color:red
  }
  .turquoise{
    background-color:turquoise
  }
  .teal{
    background-color:teal
  }
  .countInput{
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
    width: 25px;
  }
  .countInput:focus{
    border: none;
    outline: none;
    box-shadow: 0px 2px 0px 0px #ff5252;
  }